ion-header ion-toolbar {
  --background: #fff;
  color: #007aff;
  /* Use your desired color here */
}


ion-content {
  --background: #f5f5f5;
}

ion-content ion-item {
  margin: 10px;
  --background: #f5f5f5;
  color: #000;
}
ion-content ion-item ion-label {
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f5f5;
}
