.auth-page {
  --ion-background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
}
